{% extends 'base.html.twig' %}

{% block title %}
	{{ category.name }}
{% endblock %}

{% block body %}
	<main class="container">
		<section class="row">
			<div class="col-12">
				<h1>Liste des produits de la catégorie
					{{ category.name }}</h1>
			</div>
			{% for product in products %}
				<div class="col-3">
					<div class="card h-100">
						<div class="card-body">
							<h2 class="card-title">{{ product.name}}</h2>
							<p class="card-text">{{ product.description }}</p>
							<p class="card-text-muted">Il reste
								{{ product.stock}}
								en stock</p>

						</div>
						<div class="card-footer">
							<a href="" class="btn btn-primary btn-small">Voir les détails</a>
						</div>
					</div>
				</div>
			{% endfor %}
		</section>
	</main>
{% endblock %}
